<!--Hat-tip: https://www.garrickadenbuie.com/blog/xaringan-tip-logo-all-slides/-->
<style>
.logo {
  background-image: url(img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 110px;
  height: 128px;
  z-index: 0;
}
</style>


<style>

.logo-container {
  position: absolute;
  top: 1em;
  left: 1em;
  text-align: left;
  font-weight: bold;
  display: block;
}

.logo-white {
  position: relative;
  display: block;
  background-image: url(img/logow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  width: 316px;
  height: 177px;
}

.logo-caption {
  position: relative;
  display: block;
  width: 316px;
}
</style>

<script>
document
  .querySelectorAll(
    '.remark-slide-content' +
    ':not(.title-slide)' +
    // add additional classes to exclude here, e.g.
    ':not(.inverse)' +
    ':not(.hide-logo)'
  )
  .forEach(el => {
    el.innerHTML += '<div class="logo"></div>';
  });
</script>

<script>
document
  .querySelectorAll(
    '.remark-slide-content' +
    '.title-slide' +
    // add additional classes to exclude here, e.g.
    '.inverse' +
    ':not(.hide-logo)'
  )
  .forEach(el => {
	  el.innerHTML += '<div class="logo-container"><div class="logo-white"></div><div class="logo-caption">Directorate of Transportation and Road Traffic</div></div>';
  });
</script>
